<%- include('partials/header.ejs')  %>
    <style>
        #uploaded_img{ display: block; margin-left: auto; margin-right: auto;
            width: 400px; margin-top: 2rem; margin-bottom: 1.5rem; height: 400px;
            border-radius: 10px;
        }

        #btn_back{ display: block; padding: 0.5rem; cursor: pointer; margin: 0 auto;
            background-color: black; color: white; border: none; border-radius: 5px; width: 70px;
        }

        a{
            text-decoration: none;
        }
        .container{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <title>NINEDASH</title>
</head>
<body>
    <% if (predictions.length === 0) { %>
        <h1>No objects detected in the uploaded images</h1>
    <% } else { %>
        <h1 class="text-center mt-4">Predictions for Uploaded Images</h1>
        <% for(let i = 0; i < predictions.length; i++) {%>
            <div class="container">
                <% if(finalImages[i]) { %>
                    <img class="block mx-auto w-96 mb-6 mt-8 h-96 rounded-lg" src="<%= finalImages[i] %>" alt="Detected Object" id="uploaded_img" >
                <% } else { %>
                    <p>No object detected in this image.</p>
                <% } %>
            </div>
        <% } %>
    <% } %>
    <a href="/">
        <button id="btn_back" onmouseover="mouseover()" onmouseout="mouseout()">Back</button>
    </a>

<script>
    function mouseover() {
        document.getElementById('btn_back').style.color = 'yellow';
    }

    function mouseout() {
        document.getElementById('btn_back').style.color = 'white';
    }
</script>
<%- include('partials/footer.ejs') %>