<%- include('partials/header') %>
    <style>
          #main-div {
            max-width: 400px;
            margin: 40px auto 0;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .form-group {
            margin-bottom: 20px;
        }

        .custom-label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        input[type="file"] {
            display: block;
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 14px;
        }

        .btn-group {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        input[type="submit"],
        input[type="reset"] {
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            background-color: #4caf50;
            color: #fff;
            font-weight: bold;
            cursor: pointer;
        }

        input[type="submit"]:hover,
        input[type="reset"]:hover {
            background-color: #45a049;
        }

        #btn_back {
            display: block;
            margin-top: 20px;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            background-color: black;
            color: #fff;
            font-weight: bold;
            cursor: pointer;
        }

        #btn_back:hover {
            color: yellow;
        }

        a{
            text-decoration: none;
        }
    </style>
</head>
<body class='main-margin'>
    <div id='main-div'>
      <form method="post" action="/detect-video" enctype="multipart/form-data" name='videoUpload' id='video-upload' >
        <div class='form-group'>
          <label class='custom-label'> Select file to upload: </label>
          <input accept="video/mp4" type="file" name="video_uploaded" id="video_uploaded">
          <br>
          <span class="error" id="file_error"></span>
        </div>
        <div class="btn-group">
          <input type="submit" id='submit' value="Upload File" name="submit" onclick="return validateForm(event)">
          <input class="btn_cancel btn_hover" type="reset" value="Cancel">
        </div>
      </form>
      <a href="/">
        <button id="btn_back" >Back</button>
    </a>
    </div>
    <div id="progressBarContainer">
        <div id="progressBar"></div>
    </div>
    <p id="progressMessage"></p>
    <script>
        function validateForm(event) {
        let fileInput = document.getElementById('video_uploaded');
        let file = fileInput.files[0];
        let fileError = document.getElementById('file_error');

        if(!file){
            fileError.textContent = "Please select a video to upload.";
            fileError.style.display = "inline-block";
            fileError.style.marginTop = "0.5rem";
            fileError.style.color = "red";
            event.preventDefault();
            return false;
        }

        let fileType = file.type;
        if(!fileType.startsWith('video/')){
            fileError.textContent = "Invalid file type. Please upload a video.";
            fileError.style.display = "inline-block";
            fileError.style.marginTop = "0.5rem";
            fileError.style.color = "red";
            event.preventDefault();
            return false;
        }

        fileError.textContent = "";
        fileError.style.display = "none";
        return true;
    }
    </script>
   
<%- include('partials/footer') %>